{% extends "appsite/base.html" %}
{% load static %}

{% block title %}
    Gaming webapp
{% endblock %}

{% block body %}

<!--Main Layout-->
<main>
  <div class="container-fluid pt-5 pb-3">
      <div class="container-fluid mb-5 pt-5 rounded ">
          <!--Grid row-->
          <div class="row ">
              <!--Grid column-->
              <div class="col-md-12 px-lg-5 ">
                  <!--Card-->
                  <div class="card pb-5 mx-md-3 rounded">
                      <div class="card-body">
                        <div class="container">
                          {% for post in posts %}
                          <article class="media content-section">
                            <div class="media-body">
                              <div class="article-metadata">
                                <a class="mr-2" href="{% url 'blog-user_posts' post.author.username %}">{{ post.author }}</a>
                                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                              </div>
                              <h2><a class="article-title" href="{% url 'blog-post_detail' post.id %}">{{ post.title }}</a></h2>
                              <p class="article-content white-text">{{ post.content }}</p>
                            </div>
                          </article>
                          {% endfor %}
                        </div>
                        <!--Grid column-->
                        {% include 'includes/paginator.html' %}
                      </div>
                      <!--Grid row-->
                  </div>
                  <!--/Card-->
              </div>
              <!--/Grid column-->
          </div>
          <!--/Grid row-->
      </div>
  </div>   
{% endblock %}
