{% extends "appsite/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
    Gaming webapp
{% endblock %}

{% block body %}
<div class="pt-5">
  <!--Grid column-->
  <div class="container col-md-6 col-xl-5 mb-4 pt-5">
    <!--Form-->
    <div class="card wow fadeInRight" data-wow-delay="0.3s">
      <div class="card-body">
        <!--Header-->
        <div class="text-center">
          <h3 class="white-text"> Delete the post "{{ object.title }}"</h3>
          <hr class="hr-light">
        </div>
        <form class="md-form" method="POST">
          
            {% csrf_token %}

            <div class="text-center mt-4">
                <a class="btn btn-info btn-outline-secondary btn-dark" href="{% url 'blog-post_detail' object.id %}">Im afraid, let me go back</a>
                <button class="btn btn-info btn-outline-danger btn-dark" type="submit">Delete</button>
            </div>
        </form>
        <!-- Default form login -->
      </div>
    </div>
    <!--/.Form-->
  </div>
  <!--Grid column-->
</div>
{% endblock %}