{% extends "appsite/base.html" %}
{% load static %}
{% load daguerre %}

{% block title %}
    Gaming webapp
{% endblock %}

{% block body %}  
<!--Main Layout-->
<main class="pb-5">
  <div class="container-fluid pt-5">
      <div class="container-fluid mb-5 pt-5 rounded ">
        <!--Card-->
        <div class="card pb-5 mx-md-3 bg-white black-text rounded">
          <div class="card-body">
            <h2 class="h2-responsive font-italic font-weight-bolder mb-0">Your cart ({{ quantity }})</h2>
            <hr class="hr-black mt-1">
              <div class="container">
                <!-- Shopping Cart table -->
                <div class="table-responsive">
            
                  <table class="table product-table mb-0">
            
                    <!-- Table head -->
                    <thead class="mdb-color lighten-5">
                      <tr>
                        <th></th>
                        <th class="font-weight-bold mr-4">
                          <strong>Product</strong>
                        </th>
                        <th class="font-weight-bold">
                          <strong>Seller</strong>
                        </th>
                        <th></th>
                        <th class="font-weight-bold">
                          <strong>Price</strong>
                        </th>
                        <th class="font-weight-bold">
                          <strong>QTY</strong>
                        </th>
                        <th class="font-weight-bold">
                          <strong>Amount</strong>
                        </th>
                        <th></th>
                      </tr>
                    </thead>
                    <!-- /.Table head -->
            
                    <!-- Table body -->
                    <tbody>
                      <!-- Rows -->
                      {% for game in games %}
                        <tr>
                          <th scope="row">
                            <img src="{% adjust game.game.image 'fit' width=400 height=150 %}" alt="" class="img-fluid z-depth-0">
                          </th>
                          <td>
                            <h5 class="h5-responsive mt-3">
                              <strong>{{ game.game.name }}</strong>
                            </h5>
                          </td>
                          <td>{{ game.seller.client.user.username }}</td>
                          <td></td>
                          <td><h4 class="h4-responsive gameprice1">{{ game.price }} €</h4></td>
                          <td>
                            <input type="number" value="1" aria-label="Search" class="form-control gamequantity" style="width: 100px" readonly>
                          </td>
                          <td class="font-weight-bold">
                            <strong class="gameprice2"><h3 class="h3-responsive"></h3>{{ game.price }} €</strong>
                          </td>
                          <td>
                            <a class="btn btn-danger btn-sm mt-1 mb-2" href="{% url 'update_cart' game.id %}">X</a>
                          </td>
                        </tr>
                      {% endfor %}
                      <!-- Rows -->
                      
                      {% ifnotequal quantity 0 %}
                        <!-- Fourth row -->
                        <tr>
                          <td colspan="3"></td>
                          <td>
                            <h4 class="mt-2">
                              <strong>Total</strong>
                            </h4>
                          </td>
                          <td class="text-right">
                            <h4 class="mt-2">
                              <strong id="total">0</strong>
                            </h4>
                          </td>
                          <td colspan="3" class="text-right">
                            <a href="{% url 'purchase_cart' user.client.id %}" class="btn btn-primary btn-rounded float-right">
                              Complete purchase <i class="fas fa-angle-right right"></i>
                            </a> 
                          </td>
                        </tr>
                        <!-- Fourth row -->
                      {% endifnotequal %}
                    </tbody>
                    <!-- /.Table body -->
            
                  </table>
            
                </div>
                <!-- /.Shopping Cart table -->
              </div>
              <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
      <!--/Card-->
      </div>
  </div>
</main>

<script type="text/javascript">
  let total, auxList1, auxList2, aux; 

function cart_logic(total, auxList1, auxList2, aux) {
  total = document.getElementById('total');
  auxList1 = document.getElementsByClassName('gamequantity');
  auxList2 = document.getElementsByClassName('gameprice1');
  auxList3 = document.getElementsByClassName('gameprice2');

  total.innerText = 0;

  //Amount
  for(let i=0; i < auxList1.length; i++) {
    aux = auxList3[i];
    aux.innerText = parseInt(aux.innerText, 10) * auxList1[i].value + '€';
  }

  //Total
  for(let i=0; i < auxList1.length; i++) {
    aux = auxList3[i];
    total.innerText = parseInt(total.innerText, 10) + parseInt(aux.innerText, 10) + '€'; 
  }
  
}

total.onload = cart_logic();
total.addEventListener("change", function (params) {
  cart_logic();
});
</script>
{% endblock %}