{% extends "appsite/base.html" %}
{% load static %}
{% load daguerre %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block title %}
    Gaming webapp
{% endblock %}

{% block body %}

<div class="container my-5 py-5 z-depth-1">

    <!--Section: Content-->
    <section class="text-center">
      {% include 'includes/alert.html' %}
      <div class="row">
            {% if user.is_authenticated %}
                  <div class="d-block">
                    <div class="row">
                      <div class="col">
                        <img class="d-flex  ml-1 mr-3 card-img-100 rounded-circle z-depth-1-half" src="{{ user.profile.avatar.url }}" alt="Generic placeholder image">
                        <h5 class="user-name mt-1 mb-2 font-weight-bold">{{ user.username }}</h5>
                      </div>
                      <div class="col d-flex align-items-center">
                        <form method="POST" action="">
                          {% csrf_token %}
                        <button class="btn btn-info btn-sm " type="submit">Post</button>
                      </div>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="w-responsive text-center mx-auto p-3 mt-2">
                      {% render_field form.opinion class="d-flex form-control" rows="3" %}  
                    </form>
                    </div>
                  </div>
            {% endif %}
      </div>
    </section>
    <!--Section: Content-->
  
  
</div>
    
{% endblock %}