{% extends "appsite/base.html" %}
{% load static %}
{% load daguerre %}

{% block title %}
    Gaming webapp
{% endblock %}

{% block body %} 
<div class="container pt-5 mt-5 pb-5">
    <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
        <iframe class="embed-responsive embed-responsive-16by9" src="https://xat.com/embed/chat.php#id=220506809&gn=gwaCommunity" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    
    <iframe title="deezer-widget" src="https://widget.deezer.com/widget/dark/playlist/1479458365" width="100%" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media; clipboard-write"></iframe>

</div>

{% endblock %}