{% extends "appsite/base.html" %}

{% block title %}
    Gaming webapp
{% endblock %}

{% block body %}
<div class="pt-5">
  <div class="container my-5 pt-5 z-depth-3">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-md-6">

          <!-- Default form reset -->
          <form class="text-center" method="POST">
            <p class="h1 mb-4 white-text">Reset Password</p>
            {% csrf_token %}
            <div class="text-left white-text">
              <h3>
                {% include 'includes/styled_form.html' with form=form %}
              </h3>
              
            </div>
            <button class="btn btn-info btn-indigo my-4" type="submit">Request Password reset</button>
          </form>
          <!-- Default form reset -->

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!--Section: Content-->
  </div>
</div>
{% endblock %}