{% extends "appsite/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
    Gaming webapp
{% endblock %}

{% block body %}
<!--Main Layout-->
<main class="pb-5">
  <div class="container-fluid pt-5">
      <div class="container-fluid mb-5 pt-5 rounded ">

          <!--Grid row-->
          <div class="row ">
  
              <!--Grid column-->
              <div class="col-md-12 px-lg-5 ">
                  <!--Card-->
                  <div class="card pb-5 mx-md-3 bg-white black-text rounded">
                      <div class="card-body">
  
                          <div class="container">
  
                            <h3 class="text-center">
                              <i class="fas fa-user"></i> Profile Info: </h3>
                            <form class="md-form" method="POST" enctype="multipart/form-data">
                              
                              {% csrf_token %}
                              <!--Body-->
                              <div class="avatar w-100 white d-flex justify-content-center align-items-center">
                                <img
                                  src="{{ user.profile.image.url }}"
                                  class="img-fluid rounded-circle z-depth-1"
                                  style="width: 15vh;"
                                />
                              </div>

                              {% for hidden_field in form.hidden_fields %}
                              {{ hidden_field }}
                              {% endfor %}
                              
                              {% if form.non_field_errors %}
                              <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                  {{ error }}
                                {% endfor %}
                              </div>
                              {% endif %}

                              <div class="md-form">
                                <i class="fas fa-user prefix  active"></i>
                                {% if u_form.username.is_bound %}
                                  {% if u_form.username.errors %}
                                    {% render_field u_form.username class="form-control is-invalid" %}
                                    {% for error in u_form.username.errors %}
                                      <div class="invalid-feedback">
                                        {{ error }}
                                      </div>
                                    {% endfor %}
                                  {% else %}
                                    {% render_field u_form.username class="form-control is-valid" %}
                                  {% endif %}
                                {% else %}
                                  {% render_field u_form.username class="form-control" %}
                                {% endif %}
                                <label for="form3" class="active black-text font-weight-bold">Username</label>
                              </div>

                              <div class="md-form">
                                <i class="fas fa-user prefix  active"></i>
                                {% if u_form.email.is_bound %}
                                  {% if u_form.email.errors %}
                                    {% render_field u_form.email class="form-control is-invalid" %}
                                    {% for error in u_form.email.errors %}
                                      <div class="invalid-feedback">
                                        {{ error }}
                                      </div>
                                    {% endfor %}
                                  {% else %}
                                    {% render_field u_form.email class="form-control is-valid" %}
                                  {% endif %}
                                {% else %}
                                  {% render_field u_form.email class="form-control" %}
                                {% endif %}
                                <label for="form3" class="active black-text font-weight-bold">Email</label>
                              </div>
                            
                              <div class="md-form">
                                {% if p_form.image.is_bound %}
                                  {% if p_form.image.errors %}
                                    {% render_field p_form.image class="form-control is-invalid" %}
                                    {% for error in p_form.image.errors %}
                                      <div class="invalid-feedback">
                                        {{ error }}
                                      </div>
                                    {% endfor %}
                                  {% else %}
                                    {% render_field p_form.image class="form-control is-valid" %}
                                  {% endif %}
                                {% else %}
                                  {% render_field p_form.image class="form-control" %}
                                {% endif %}
                              </div>

                              <div class="text-center mt-4">
                                <hr>
                                <div><a href="{% url 'password_reset' %}">Forgot password?</a></div>
                                <div class="text-center mt-4">
                                  <button class="btn btn-info btn-indigo" type="submit">Update profile</button>
                                </div> 
                              </div>
                            </form>
                          </div>
                          <!--Grid column-->
                      </div>
                      <!--Grid row-->
                  </div>
                  <!--/Card-->
              </div>
              <!--/Grid column-->
          </div>
          <!--/Grid row-->
      </div>
  </div>
{% endblock %}