{% extends "appsite/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
    Gaming webapp
{% endblock %}

{% block body %}
<!--Grid column-->
<div class="container col-md-6 col-xl-5 mb-4 pt-1 bg-white rounded z-depth-5 mt-1">
  <h3 class="text-center">
    <i class="fas fa-user white-text"></i> Profile Info: </h3>
  <hr>
    
  <form class="md-form" method="POST" enctype="multipart/form-data">
    
    {% csrf_token %}
    <!--Body-->
    <div class="avatar w-100 white d-flex justify-content-center align-items-center">
      <img
        src="{{ user.profile.image.url }}"
        class="img-fluid rounded-circle z-depth-1"
        style="width: 10vh;"
      />
    </div>
    <div class="text-center mt-1">
      <h6 class="font-weight-bold pt-1 m-0">{{ user.username }}</h6>
      <p class="text-muted m-0"><small><i>{{ user.email }}</i></small></p>
    </div>

    {{ u_form|crispy }}
    {{ p_form|crispy }}
    <hr>
    <div><a href="{% url 'password_reset' %}">Forgot password?</a></div>
    <div class="text-center mt-4">
      <button class="btn btn-info btn-indigo" type="submit">Update profile</button>
    </div>
  </form>
</div>
<!--Grid column-->
{% endblock %}