{% extends "appsite/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
    Gaming webapp
{% endblock %}

{% block body %}
<!--Main Layout-->
<main class="pb-5">
  <div class="container-fluid pt-5">
      <div class="container-fluid mb-5 pt-5 rounded ">
        <!--Card-->
        <div class="card pb-5 mx-md-3 bg-white black-text rounded">
          <div class="card-body">
            <p class="font-italic font-weight-bolder mb-0">Seller details</p>
            <hr class="hr-black mt-1">
              <div class="container">
                <!-- {% include 'includes/alert.html' %} -->
                <form action='' method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                 
                  {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                  {% endfor %}
                  
                  {% if form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                  {% endif %}

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      {{ u_form.first_name.label_tag }}
                      {% if u_form.is_bound %}
                        {% if u_form.first_name.errors %}
                          {% render_field u_form.first_name class="form-control is-invalid" %}
                          <div class="invalid-feedback">
                            {% for error in u_form.first_name.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </div>
                        {% else %}
                          {% render_field u_form.first_name class="form-control is-valid" %}
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        {% endif %}
                      {% else %}
                        {% render_field u_form.first_name class="form-control" %}
                      {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                      {{ u_form.last_name.label_tag }}
                      {% if u_form.is_bound %}
                        {% if u_form.last_name.errors %}
                          {% render_field u_form.last_name class="form-control is-invalid" %}
                          <div class="invalid-feedback">
                            {% for error in u_form.last_name.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </div>
                        {% else %}
                          {% render_field u_form.last_name class="form-control is-valid" %}
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        {% endif %}
                      {% else %}
                        {% render_field u_form.last_name class="form-control" %}
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group">
                    {{ s_form.birth_date.label_tag }}
                    {% if s_form.is_bound %}
                      {% if s_form.birth_date.errors %}
                        {% render_field s_form.birth_date class="form-control is-invalid" %}
                        <div class="invalid-feedback">
                          {% for error in s_form.birth_date.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </div>
                      {% else %}
                        {% render_field s_form.birth_date class="form-control is-valid" %}
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                      {% endif %}
                    {% else %}
                      {% render_field s_form.birth_date class="form-control" %}
                    {% endif %}
                  </div>

                  <div class="form-group">
                    {{ s_form.street_and_number.label_tag }}
                    {% if s_form.is_bound %}
                      {% if s_form.street_and_number.errors %}
                        {% render_field s_form.street_and_number class="form-control is-invalid" %}
                        <div class="invalid-feedback">
                          {% for error in s_form.street_and_number.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </div>
                      {% else %}
                        {% render_field s_form.street_and_number class="form-control is-valid" %}
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                      {% endif %}
                    {% else %}
                      {% render_field s_form.street_and_number class="form-control" %}
                    {% endif %}
                  </div>
                  
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      {{ s_form.city.label_tag }}
                      {% if s_form.is_bound %}
                      {% if s_form.city.errors %}
                        {% render_field s_form.city class="form-control is-invalid" %}
                        <div class="invalid-feedback">
                          {% for error in s_form.city.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </div>
                      {% else %}
                        {% render_field s_form.city class="form-control is-valid" %}
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                      {% endif %}
                    {% else %}
                      {% render_field s_form.city class="form-control" %}
                    {% endif %}
                    </div>

                    <div class="form-group col-md-4">
                      {{ s_form.country.label_tag }}
                      {% if s_form.is_bound %}
                        {% if s_form.country.errors %}
                          {% render_field s_form.country class="form-control is-invalid" %}
                          <div class="invalid-feedback">
                            {% for error in s_form.country.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </div>
                        {% else %}
                          {% render_field s_form.country class="form-control is-valid" %}
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        {% endif %}
                      {% else %}
                        {% render_field s_form.country class="form-control" %}
                      {% endif %}
                    </div>

                    <div class="form-group col-md-2">
                      {{ s_form.zip.label_tag }}
                      {% if s_form.is_bound %}
                        {% if s_form.zip.errors %}
                          {% render_field s_form.zip class="form-control is-invalid" %}
                          <div class="invalid-feedback">
                            {% for error in s_form.zip.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </div>
                        {% else %}
                          {% render_field s_form.zip class="form-control is-valid" %}
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        {% endif %}
                      {% else %}
                        {% render_field s_form.zip class="form-control" %}
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-row">

                    <div class="form-group col-md-5">
                      {{ s_form.phone_number.label_tag }}
                      {% if s_form.is_bound %}
                        {% if s_form.phone_number.errors %}
                          {% render_field s_form.phone_number class="form-control is-invalid" %}
                          <div class="invalid-feedback">
                            {% for error in s_form.phone_number.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </div>
                        {% else %}
                          {% render_field s_form.phone_number class="form-control is-valid" %}
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        {% endif %}
                      {% else %}
                        {% render_field s_form.phone_number class="form-control" %}
                      {% endif %}
                    </div>

                    <div class="form-group col-md-7">
                      {% if s_form.authenticator_img.help_text %}
                        <small class="form-text text-muted grey-text mt-1 mb-1">{{ s_form.authenticator_img.help_text }}</small>
                      {% endif %}
                      <div class="input-group pt-1">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                          {% if s_form.is_bound %}
                            {% if s_form.authenticator_img.errors %}
                              {% render_field s_form.authenticator_img class="custom-file-input is-invalid" %}
                              <div class="invalid-feedback">
                                {% for error in s_form.authenticator_img.errors %}
                                  <li>{{ error }}</li>
                                {% endfor %}
                              </div>
                            {% else %}
                              {% render_field s_form.authenticator_img class="custom-file-input is-valid" %}
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            {% endif %}
                          {% else %}
                            {% render_field s_form.authenticator_img class="custom-file-input" %}
                          {% endif %}
                          <label class="custom-file-label" for="inputGroupFile01">Choose a file</label>
                        </div>
                      </div>
                      
                    </div>
                  </div>

                  

                  <div class="form-group">
                    <div class="form-check">
                      {% if s_form.is_bound %}
                        {% if s_form.terms.errors %}
                          {% render_field s_form.terms class=" is-invalid form-check-input" %}
                            <div class="invalid-feedback">
                              {% for error in s_form.terms.errors %}
                                <li>{{ error }}</li>
                              {% endfor %}
                            </div>
                        {% else %}
                          {% render_field s_form.terms class=" is-valid form-check-input" %}
                        {% endif %}
                      {% else %}
                        {% render_field s_form.terms class=" form-check-input" %}
                      {% endif %}
                      <label class="form-check-label" for="gridCheck">
                        I accept the <a href="{% url 'terms' %}" target="_blank" rel="noopener">Terms & Conditions of GAMINGWEBAPP</a>
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>

              </div>
              <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
      <!--/Card-->
      </div>
  </div>
{% endblock %}