{% extends "appsite/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}
    Gaming webapp
{% endblock %}

{% block body %}
<!--Main Layout-->
<main class="pb-5">
  <div class="container-fluid pt-5">
      <div class="container-fluid mb-5 pt-5 rounded ">
        <!--Card-->
        <div class="card pb-5 mx-md-3 bg-white black-text rounded">
          <div class="card-body">
            <p class="font-italic font-weight-bolder mb-0">TERMS AND CONDITIONS OF THE SITE GAMINGWEBAPP.COM</p>
            <hr class="hr-black mt-1">
              <div class="container">
               <p>(i)  GAMINGWEBAPP.COM possesses and operates the Site designed for connecting Users wishing to buy and sell various digital content, especially game activation codes, as well as Physical Products offered by the Sellers on this website or any subdomains;</p>
                <p>(ii)  the Site is not an online shop but merely an online platform where Users may conduct transactions between them;</p>
                <p>(iii)  GAMINGWEBAPP.COM, unless explicitly expressed in a particular offer, does not purchase digital content or Physical Products, from Sellers and Selling Users and does not re-sell digital content or Physical Products to Users;</p>
                <p>(iv)  the offers and sales performed via the Site are made between particular Sellers or Selling Users and Users while GAMINGWEBAPP.COM only facilitates such transactions by means of establishing and maintaining the Site’s functionalities and provides certain additional services to the Users aimed at improving safety, speed and certainty of the transactions;
                    <ul>
                        <li>this document defines legal (contractual) relations between GAMINGWEBAPP.COM and Users and between GAMINGWEBAPP.COM and Sellers with GAMINGWEBAPP.COM acting as an administrator of the Site;</li>
                        <li>this document does not define legal (contractual) relations or terms and conditions between Users and Selling Users and between Users and Sellers;</li>
                        <li>
                            in particular, this document does not determine conditions specific for transactions and contracts being concluded between Users and Selling Users and between Users and Sellers such as: prices of game activation codes, content, Physical Products, quality, safety and legality of game activation codes or Physical Products, warranty and liability with regard to selling game activation codes or Physical Products. GAMINGWEBAPP.COM does not verify the veracity and accuracy of data provided by Users or Sellers likewise does not verify Physical Products offered by Sellers;
                            notwithstanding the above – and merely for purposes related with: care for GAMINGWEBAPP.COM brand, functioning the Site as a platform connecting Sellers and Users and avoiding unfair practices on the Site – GAMINGWEBAPP.COM reserves the right to establish basic rules for selling and buying game codes and Physical Products via the Site.
                        </li>
                    </ul>
                </p>
              </div>
              <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
      <!--/Card-->
      </div>
  </div>
{% endblock %}